body {
	background-image: url("../imag/background1.jpg");
	background-repeat: no-repeat;
	background-color: #cccccc;
	
    
background-size: 1280px 720px;
}	
	
.quadrado0 { 
	background-color: black;
    width: 1280px;
    height: 24px;
	color: gray;
    text-align: center;
	position: relative;
	left: -8px;
	top: 710px;
}

.quadrado1 { 
	background-color: Gray;
    width: 400px;
    height: 540px;
	color: Black;
    text-align: center;
	position: relative;
	left: 25px;
	top: 80px;
	border-radius: 10px;
	font-family: Helvetica;
	font-size: 12px;
     filter:alpha(opacity=70);
     opacity: 0.8;
     -moz-opacity:0.7;
     -webkit-opacity:0.7;
	 border-style: solid;
}



header{
     position:fixed;
     width:100%;
     top: 0px;
     left: 0px;
     background-color: #006C71;
     border-radius: 0px 0px 20px 20px;
 }

header .link0 {
	position: absolute;
	left: 25%;
	top: 35%;
	font-size: 20px;
}

header .link1 {
	position: absolute;
	left: 35%;
	top: 35%;
	font-size: 10px;
}

header img {
	border-radius:10px;
}

header .link2 {
	position: absolute;
	left: 60%;
	top: 35%;
	font-size: 10px;
}

header .link3 {
	position: absolute;
	left: 79%;
	top: 35%;
	font-size: 10px;
}
a {
	color: gray;
}
header a:link {
	font-size: 20px;
	font-family: verdana;
	text-decoration: none;
}

header a:hover {
	background-color: #D0D5CE;
	border-radius: 20px;
	padding: 5px;
}



	